In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [2]:
Train_data_path="Toyota_aygo_I.csv"

In [3]:
training_file=pd.read_csv(Train_data_path)

In [4]:
Y_training=training_file[["price"]].round(decimals=-2)
Features_X=[]
X_training_year=training_file[["year"]]
X_training_mileage=pd.DataFrame(training_file[["mileage"]].round(decimals=-3),columns=['mileage'])
X_training=X_training_year.join(X_training_mileage)

In [5]:
Y_training.head()

   price
0  13500
1  12900
2  14000
3  10800
4   8000

In [6]:
X_training.head()

   year  mileage
0  2010   133000
1  2006   144000
2  2010   102000
3  2008   141000
4  2005   179000

In [7]:
model=DecisionTreeRegressor()
model.fit(X_training, Y_training)
predictions=model.predict(X_training)

In [14]:
moja_toyota=[]
moja_toyota.append([2011,118000])
moja_toyota_df=pd.DataFrame(moja_toyota, columns=["year","mileage"])
predictions=model.predict(moja_toyota_df)
print(predictions)

[13900.]